
  <form ngForm #postForm class="form">
    <mat-form-field>
      <input matInput [(ngModel)]="id" name="id" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="name" name="name" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="occupation" name="occupation" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="email" name="email" type="text">
    </mat-form-field>
    <button mat-stroked-button (click)="onSubmit();">Send</button>
  </form>
  <button routerLink="/home">Back to User List</button>

