
  <form ngForm #postForm class="form">
    <h2>Add User</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="id" name="id" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="name" name="name" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="occupation" name="occupation" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="email" name="email" type="text">
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="onSubmit();">Send</button>
  </form>
  <button mat-flat-button color="primary" class="return" routerLink="/home">Back to User List</button>

