<h1>user-list</h1>
<button mat-flat-button color="accent"
        (click)="onAddUserBtnClick()">
  Add
</button>

<mat-table [dataSource]="dataSource" *ngIf="!formVisible">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="occupation">
    <mat-header-cell *matHeaderCellDef> Occupation </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.occupation}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="bio">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-stroked-button (click)="detailsClick(element)">details</button>
      <button mat-stroked-button (click)="updateUser(element)">update</button>
      <button mat-stroked-button (click)="deleteClick(element)">delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<app-user-details [userSubmit]="userSelectionne" *ngIf="userSelectionne"></app-user-details>
<app-add-user (users)="onNewUser($event)" *ngIf="formVisible"></app-add-user>

